{
  "parser": "babel-eslint",
  "extends": ["prettier", "plugin:import/errors", "plugin:import/warnings"],
  "plugins": ["prettier", "import"],
  "rules": {
    "import/default": 0,
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true
      }
    ]
  }
}
